/* body{
    background-color: azure;
} */
div{
    background-color: aqua;
    text-align: center;   
}
h1{
    font-family: Impact;
    margin-top: -8px;
    position: relative;
    top: 3px;
    left: 1px;  
    width: 100%; 
}
#footer{
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-family: Impact;
    width: 100%;
}
#Center{
    width: 400px;
    height: 400px;
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    position: relative;
    
    top: 97px;
    left: 39%;
    /* position: absolute;
    top: 20px;
    left: 20px; */
}
button{
    text-decoration: none;
    font-family: Impact;
    background-color: brown;
    height: 43px;
    width: 270px;  
    font-size: 20px;
    position: relative;
    top: 25px;

}
button:hover{
    background-color: red;
    color: red;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    font-size: 30px; 
}
#big{
    font-size: 15px;
}
#big:hover{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    font-size: 20px; 
}
#Intro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}
